.containerMenu {
    display: none;
}

@media(max-width: 1024px) { 
    .containerMenu {
        display: flex;
        flex-direction: column;
        padding: 0 15px 30px;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .menu p {
        margin-bottom: 0;
    }

    .menu .price {
        margin-bottom: 42px;
        font-size: 25px;
        color: #000;
    }

    /* .menu a {
        font-size: 16px;
        background: #FF9A44;
        color: #fff;
        text-decoration: none;
        padding: 5px 30px;
        border-radius: 5px;
        margin-top: 20px;
    } */

    .snack {
        width: 260px;
    }

    .containerMenu strong {
        margin-top: 15px;
        font-size: 20px;
    }

    .containerMenu h1 {
        margin: 0 0 20px;
    }
}