.containerMenu {
    display: none;
}

@media(max-width: 1024px) { 
    .containerMenu {
        display: flex;
        flex-direction: column;
        padding: 0 15px 30px;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .menu p {
        text-align: left;
        font-size: 13px;
        margin-bottom: 5px;
    }

    .menu .price {
        margin-bottom: 42px;
        font-size: 18px;
        color: #000;
    }

    .snack {
        width: 160px;
        margin-top: 20px;
    }

    .containerSnack {
        display: flex;
        flex-direction: column;
    }

    .containerDescription {
        margin: 35px 0 0 15px
    }

    .menuSnack {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin-bottom: 35px;
    }

    .containerMenu strong {
        margin-top: 0;
    }

    .containerMenu h1 {
        margin: 0 0 20px;
    }

    .contaienrButtons {
        margin: 20px 0 40px 0px
    }

    .contaienrButtons .snack {
        background: #FF9A44;
        color: #fff;
        padding: 5px 10px;
        border-radius: 10px;
        font-size: 16px;
        margin-right: 20px;
    }

    .contaienrButtons .drink {
        font-size: 14px;
    }
}