body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    letter-spacing: 2px;
    background-color: #FAFAFA;
}

::-webkit-scrollbar  {
    background: #FAFAFA; 
}

h2 {
    font-family: 'Graduate', cursive;
    font-size: 18px;
}

h1 {
    font-family: 'Graduate', cursive;
    font-size: 18px;
}

a {
    color: #000;
    text-decoration: none;
    font-family: 'Graduate', cursive;
}

strong {
    font-family: 'Graduate', cursive;
    font-size: 16px;
}